:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #4cc0ee;
  --secondary-color: #7b0fe1;
  --tertiary-color: #ff9e3c;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
