:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #4c48ff;
  --secondary-color: #f4f4ff;
  --tertiary-color: #000000;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
