:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #61dafb;
  --secondary-color: #20232a;
  --tertiary-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
