:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #e0ee4c;
  --secondary-color: #269320;
  --tertiary-color: #f74141;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
