:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #42b883;
  --secondary-color: #35eb9a;
  --tertiary-color: #1a1a1a;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
