:root {
  /* CSS Variables for theming white-labeled components */
  --primary-color: #9eff95;
  --secondary-color: #ffb3ff;
  --tertiary-color: #97c4e9;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}
